<!-- grid section -->
<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <p class="h5 mt-2">صف درخواست های خرید</p>
    </div>
</div>
<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <app-darkhast class="p-2" (listChanged)="listKharidChanged($event)" #safeKharid noeDarkhast="kharid" columnsList="['fullName','username','noeDarkhast','tedadSahm','arzeshSahm','tedadMoamelehShodeh','tedadBaghiMandeh','tarikhDarkhast','vazeiat']"></app-darkhast>
    </div>
</div>
<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <p class="h5 mt-2">صف درخواست های فروش</p>
    </div>
</div>
<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <app-darkhast class="p-2" (listChanged)="listForushChanged($event)" #safeForush noeDarkhast="forush" columnsList="['fullName','username','noeDarkhast','tedadSahm','arzeshSahm','tedadMoamelehShodeh','tedadBaghiMandeh','tarikhDarkhast','vazeiat']"></app-darkhast>
    </div>
</div>
<!-- operation section -->
<div class="row">
    <div class="col-sm-1 mr-2">
        <button class="btn btn-primary btn-sm" [disabled]="!tradeButtonEnabled" (click)="doTrade()">ثبت معامله</button>
    </div>
</div>