<nav id="mainNav" class="navbar navbar-expand-sm  navbar-dark bg-dark justify-content-between">
  <a routerLink="/">
    <span class="fa fa-home text-white" style="font-size: 1.5rem;"></span>
  </a>
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto  text-right">

        <li class="nav-item dropdown pull-right">
          <a class="nav-link dropdown-toggle pull-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            سهام
          </a>
          <div class="dropdown-menu text-right" style="left: -180%;direction: rtl;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/queue">ثبت درخواست خرید / فروش</a>
            <a class="dropdown-item" routerLink="/requests">مدیریت درخواست ها</a>
            <a class="dropdown-item" *ngIf="userHasClaim('tradeAdmin')" routerLink="/trades">ثبت معاملات</a>
            <a class="dropdown-item" routerLink="/portfo">مشاهده دارایی و سابقه معاملات</a>
          </div>
        </li>
        <li class="nav-item dropdown pull-right">
          <a class="nav-link dropdown-toggle pull-right" href="#" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            پروفایل
          </a>
          <div class="dropdown-menu text-right" style="left: -80%;direction: rtl;" aria-labelledby="profileDropdown">
            <a class="dropdown-item" routerLink="/profile">مشاهده پروفایل</a>
            <a class="dropdown-item" routerLink="/profile">تغییر کلمه عبور</a>
          </div>
        </li>
        <li *ngIf="userHasClaim('admin')" class="nav-item dropdown pull-right">
          <a class="nav-link dropdown-toggle pull-right" href="#" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            مدیریت
          </a>
          <div class="dropdown-menu text-right" style="left: -80%;direction: rtl;" aria-labelledby="profileDropdown">
            <a class="dropdown-item" *ngIf="userHasClaim('userAdmin')" routerLink="/useradmin">مدیریت کاربران</a>
            <a class="dropdown-item" routerLink="/">ثبت ارزش سهم</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">اطلاعیه ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">پروژه ها</a>
        </li>

      </ul>
      <ul class="navbar-nav  text-right">
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="/register">
            <i class="fa fa-user-plus"></i> ثبت نام
          </a>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="/login">
            <i class="fa fa-sign-in"></i> ورود
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link btn" (click)="authService.logout()">
            <i class="fa fa-sign-out"></i> خروج
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link">
              خوش آمدید {{authService.getUserFullname()}}
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- footer section -->
<section id="footer" class="bg-dark">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center text-white align-content-center mt-5">
      تعاونی مصرف کارکنان بندر بوشهر
    </div>
  </div>
</section>