body,kbd {
    font-family: calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dx-datagrid-text-content.dx-text-content-alignment-right {
    font-family: calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dx-widget {
    font-weight: 400;
    font-size: 14px;
    font-family: calibri, RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.form-group {
    margin-left: 5px;
    margin-right: 5px;
}

.form-inline>.form-group>label {
    margin-left: 5px;
    margin-right: 5px;
}

.carousel-slide-1 {
    background: url('assets/carousel/slide_01.jpg');
    background-size: cover;
}

.carousel-slide-2 {
    background: url('assets/carousel/slide_02.jpg');
    background-size: cover;
}

.carousel-slide-3 {
    background: url('assets/carousel/slide_03.jpg');
    background-size: cover;
}

.carousel-slide-4 {
    background: url('assets/carousel/slide_04.jpg');
    background-size: cover;
}

.carousel-slide-5 {
    background: url('assets/carousel/slide_05.jpg');
    background-size: cover;
}

.carousel-slide-6 {
    background: url('assets/carousel/slide_06.jpg');
    background-size: cover;
}

label {
    direction: rtl;
}

.t-6{
    font-size: 0.9rem;
}

.validation{
    color: red;
}