<!-- Carousel Section -->

<div id="carouselComponent" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselComponent" data-slide-to="0" class="active"></li>
    <li data-target="#carouselComponent" data-slide-to="1"></li>
    <li data-target="#carouselComponent" data-slide-to="2"></li>
    <li data-target="#carouselComponent" data-slide-to="3"></li>
    <li data-target="#carouselComponent" data-slide-to="4"></li>
    <li data-target="#carouselComponent" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active carousel-slide-1">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">تعاونی کاربران بندر بوشهر</h1>
          <p class="lead">پروژه شماره 1</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-slide-2">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">تعاونی کاربران بندر بوشهر</h1>
          <p class="lead">پروژه شماره 1</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-slide-3">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">تعاونی کاربران بندر بوشهر</h1>
          <p class="lead">پروژه شماره 1</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-slide-4">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">تعاونی کاربران بندر بوشهر</h1>
          <p class="lead">پروژه شماره 1</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-slide-5">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">تعاونی کاربران بندر بوشهر</h1>
          <p class="lead">پروژه شماره 1</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-slide-6">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">تعاونی کاربران بندر بوشهر</h1>
          <p class="lead">پروژه شماره 1</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselComponent" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselComponent" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- projects show section -->
<div class="my-2">
  <app-projects-show></app-projects-show>
</div>
<!-- photo gallery section -->
<div class="my-3">
  <app-photo-gallery></app-photo-gallery>
</div>

<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-right w-100">
      <div class="card" style="direction: rtl;">
        <img class="card-img-top text-center" src="assets/pics/News.png" alt="Card image cap" style="max-height: 150px;max-width: 150px;">
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title">اخبار و رویدادهای تعاونی</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">بهره برداری از پروژه</li>
          <li class="list-group-item">جذب سرمایه گذاری</li>
          <li class="list-group-item">بازدید از پروژه های در دست اقدام</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link ml-2 text-danger">آرشیو اخبار</a>
          <a href="#" class="card-link">خبرهای مهم</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right w-100">
      <div class="card" style="direction: rtl;">
        <img class="card-img-top text-center" src="assets/pics/Notifications.png" alt="Card image cap" style="max-height: 150px;max-width: 150px;">
        <div class="card-body" style="direction: rtl;">
          <h5 class="card-title">اطلاعیه ها</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">پایان فرصت افزایش سرمایه</li>
          <li class="list-group-item">افزایش سرمایه در تعاونی</li>
          <li class="list-group-item">بازدید از پروژه های در دست آگهی تاریخ و محل مجمع عمومی</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link ml-2 text-danger">آرشیو اطلاعیه ها</a>
          <a href="#" class="card-link">اطلاعیه های مهم</a>
        </div>
      </div>
    </div>
  </div>
</div> -->