<div class="container-fluid d-flex justify-content-center bg-light">
  <div class="row p-3">
    <h3>پروژه های در دست اقدام</h3>
  </div>
</div>
<div class="container-fluid d-flex flex-row justify-content-around bg-light py-2">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/projects/project_01.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/projects/project_02.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/projects/project_03.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>